<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fontsize</key>
	<string>25</string>
	<key>color</key>
	<string>blue</string>
	<key>title</key>
	<array/>
	<key>time</key>
	<array/>
	<key>thing</key>
	<array/>
</dict>
</plist>
